<!--  THE WORK IT OUT PRODUCTS LIST  -->
<!--   <div id="work-it-out" class="anchor-placeholder"></div> -->
  <div class="collection-section-header collection-show-on-mobile">WORK IT OUT</div>
  <div class="clothing-section-3">
    <div class="show-on-mobile" style="line-height: normal;
                                       text-align: center;
                                       font-size: 14px;
                                       padding: 15px;
                                       color: #ffffff;">They say no pain no gain. Though, it is right to suffer from the last few squats but not from damp bras and leggings that gets you distracted. Thepicksmart have put together the perfect collection of active wear made of moisture wicking fabri.c</div>
    <img class="clothing-section-3-feature" src="https://storage.googleapis.com/picksmart-img-au/collection-page/clothing/item-sports-bra-1.png"/>
    <div class="clothing-section-3-feature-text-container">
      <div class="hide-on-mobile" style="line-height: normal;
                                         color: #ffffff;
                                         font-size: 25px;">WORK IT OUT</div>
      <div class="hide-on-mobile clothing-section-3-feature-text">They say no pain no gain. Though, it is right to suffer from the last few squats but not from damp bras and leggings that gets you distracted. Thepicksmart have put together the perfect collection of active wear made of moisture wicking fabric.</div>
      <img class="clothing-section-3-feature-small" src="https://storage.googleapis.com/picksmart-img-au/collection-page/clothing/item-sports-bra-2.png" />
      <img class="clothing-section-3-feature-small" src="https://storage.googleapis.com/picksmart-img-au/collection-page/clothing/item-sports-bra-3.png" />
    </div>
  </div>
    <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.clothing-accessories.products %}
      {% if product.tags contains "workitout" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
