<!--  THE COZY LAYER  -->
  <div id="the-cozy-layer" class="anchor-placeholder"></div>
  <div class="collection-section-header">THE COZY LAYER</div>
  <div class="bedroom-section-container">
    <img style="margin-bottom: -7px;" class="bedroom-section-background-img" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/img-5.png"/>
    <div class="bedroom-section-text">Don’t miss out in completing an ultimate cozy home by adding a soft plush throw blankets to your room. They not only let you snuggle in coziness but also add a luxe layer of style to your couches, beds and outdoor spaces.</div>
  </div>
  
<!--  THE COZY LAYER PRODUCT LIST  -->
    <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.bedroom.products %}
      {% if product.tags contains "cozylayer" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
