<!--  YOUR CULINARY DREAMS ARE SHINING  -->
<!--   <div id="your-culinary-dreams-are-shining" class="anchor-placeholder"></div> -->
  <div class="collection-section-header">YOUR CULINARY <br/> DREAMS ARE SHINING</div>
  <div class="kitchen-background-img-1">
    <div class="kitchen-background-img-1-text">
      <div style="color: white; font-size: 12px; line-height: normal; padding: 15px;">Don’t look any further to find the best cookware because stainless steel will doubtlessly be at the top of the choice. </div>
    </div>
  </div>
  <div class="kitchen-section-text-1">There is a reason why most of professional chefs cook exclusively with stainless steel - it’s durable, heats up fast but evenly and most of all, extremely easy to clean.</div>
  <div class="kitchen-background-img-2">
    <figure style="margin: 0px">
      <iframe width="100%" height="200px" src="https://www.youtube.com/embed/S-Fus1S-u_U?rel=0" frameborder="0" allowfullscreen=""></iframe>
    </figure>
    <div class="video-text">Explore your culinary dreams with stainless steel cookware, the lifelong companion of pots and pans!</div>
  </div>
  <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.kitchen.products %}
      {% if product.tags contains "shining" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
