<!--  THE CURTAIN CALL  -->
  <div id="the-curtain-call" class="anchor-placeholder"></div>
  <div class="collection-section-header">THE CURTAIN CALL</div>
    <div class="bedroom-section-container">
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img hide-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/the-curtain-call.png"/>
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img show-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/the-curtain-call-mobile.png"/>
      <div class="subsection-section-text subsection-section-text-bottom">Treat your windows right – gorgeous curtains and drapes in beautiful colors. Ranging from cozy to cool palettes, linen to silk, we have everything to give your window a refresh!</div>
    </div>
 
<!-- THE CURTAIN CALL PRODUCT LIST  -->
    <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.bedroom.products %}
      {% if product.tags contains "curtains" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
