<!--  MULBERRY SILK  -->
  <div id="mulberry-silk" class="anchor-placeholder"></div>
  <div class="collection-section-header">MULBERRY SILK</div>
    <div class="bedroom-section-container">
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img hide-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/mulberry-silk.png"/>
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img show-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/mulberry-silk-mobile.png"/>
      <div class="subsection-section-text subsection-section-text-bottom">Is there anything more luxurious than a pure 100% natural mulberry silk scarf? Thepicksmart’s silk scarves are made at Hawhai Co., Ltd, China. Precisely extracted mulberry silk woven by artisans with decades of rich experience to make a perfect piece of silk scarf. Get quality delivered straight from factory to home.</div>
    </div>
 
<!-- THE CURTAIN CALL PRODUCT LIST  -->
    <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.clothing-accessories.products %}
      {% if product.tags contains "silk" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
