<!--  MULBERRY SILK  -->
<!--   <div id="spectacular-spectacles" class="anchor-placeholder"></div> -->
  <div class="collection-section-header">SPECTACULAR SPECTACLES</div>
    <div class="bedroom-section-container">
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img hide-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/spectacular-spectacles.png"/>
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img show-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/spectacular-spectacles-mobile.png"/>
      <div class="subsection-section-text subsection-section-text-mid small-top">Nothing really completes an outfit like a pair of cool sunglasses. From simple and clean oversized shades to go with casual looks to embellished ones that can be dressed up - we have it all. Sourced from the top factories only, shop quality shades today with Thepicksmart.</div>
    </div>
 
<!-- THE CURTAIN CALL PRODUCT LIST  -->
    <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.clothing-accessories.products %}
      {% if product.tags contains "sunglasses" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
