<!--  ZEN HOME  -->
  <div id="zen-home" class="anchor-placeholder"></div>
  <div class="collection-section-header">ZEN HOME</div>
  <div class="bedroom-section-container">
    <img style="margin-bottom: -7px;" class="bedroom-section-background-img" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/img-1.png"/>
    <div class="bedroom-section-text">Life needs a little retreat once and then. Bring a little Zen to your home by adding in some earthy colors, natural fabrics and exotic items.</div>
  </div>
  
<!--  ZEN HOME PRODUCT LIST  -->
  <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.bedroom.products %}
      {% if product.tags contains "zenhome" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
