  <div id="heavenly-decor-pillows" class="anchor-placeholder"></div>
  <div class="collection-section-header">HEAVENLY DECOR PILLOWS</div>
  <div class="bedroom-section-container">
    <img style="margin-bottom: -7px;" class="bedroom-section-background-img" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/img-4.png"/>
    <div class="bedroom-section-text">Thepicksmart’s selection of decorative throw pillows will add style and cozinessto your decor. Hand-picked from factories all around the world, our pillows are comfy, unique and cushionyat factory-direct prices.Toss in a beautiful accentto your couch, bed and patio today! </div>
  </div>
  
<!--  HEAVENLY DECOR PILLOWS PRODUCT LIST  -->
    <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.bedroom.products %}
      {% if product.tags contains "pillows" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
