<!--  THE TO-GO PAIR  -->
  <div id="the-to-go-pair" class="anchor-placeholder"></div>
  <div class="collection-section-header">THE TO-GO PAIR</div>
    <div class="bedroom-section-container">
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img hide-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/clothing/the-to-go-pair.png"/>
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img show-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/clothing/the-to-go-pair-mobile.png"/>
      <div class="subsection-section-text subsection-section-text-bottom subsection-section-text-1">The best pair of hose need to fulfill few specific criteria - comfort, warmth, quality and the looks. Still haven’t found your go-to tights that meets all those criteria yet? From thin and silky 150D tights for work and dates to thick fleece lined winter tights for those coldest days – we’ve picked only the best! Brought to you by hundreds of rigorous factory visits.</div>
    </div>
 
<!-- THE CURTAIN CALL PRODUCT LIST  -->
    <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.clothing-accessories.products %}
      {% if product.tags contains "togopair" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
