<!--  MULBERRY SILK  -->
<!--   <div id="mongolian-cashmere" class="anchor-placeholder"></div> -->
  <div class="collection-section-header">MONGOLIAN CASHMERE</div>
    <div class="bedroom-section-container">
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img hide-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/mongolian-cashmere.png"/>
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img show-on-mobile" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/mongolian-cashmere-mobile.png"/>
      <div class="subsection-section-text subsection-section-text-top">Cashmere, just the word gives off an aura of sophistication. However, not all cashmere are equal. Thepicksmart’s cashmere scarves are 100% Mongolian ring cashmere, the best of the kind with the longest fibers – maximum softness. Shop the finest selection of cashmere scarf.</div>
    </div>
 
<!-- THE CURTAIN CALL PRODUCT LIST  -->
    <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.clothing-accessories.products %}
      {% if product.tags contains "cashmere" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
