<!--  THE MODERN GROOMER  -->
<!--   <div id="the-modern-groomer" class="anchor-placeholder"></div> -->
  <div class="collection-section-header">THE MODERN GROOMER</div>
      <div class="bedroom-section-container">
      <img style="margin-bottom: -7px;" class="bedroom-section-background-img" src="https://storage.googleapis.com/picksmart-img-au/collection-page/bedroom/img-3.png"/>
      <div class="bedroom-section-text">Once, men who spent too long in the bathroom had to face scorn and suspicion upon themselves. Thankfully times have changed. We picked only the essential grooming gadgets at the best quality that will get you all freshened up to get through another day! Stay chic and clean with our modern groomer collection.</div>
    </div>
 
<!--  THE MODERN GROOMER PRODUCT LIST  -->
    <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.clothing-accessories.products %}
      {% if product.tags contains "moderngroomer" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
