<div class="collection-wrapper">
  {{ page.content }}
  {% include 'subcollection-clothing-spectacular-spectacles' %}
  <div class="shop-all-button-container">
    <a href="https://thepicksmart.com/collections/clothing-accessories" class="shop-all-button">SHOP ALL</a>
  </div>
</div>