<!-- /templates/page.liquid -->
<!-- <h1 class="small--text-center">{{ page.title }}</h1> -->

<div class="collection-wrapper">
  {{ page.content }}
  
  {% include 'subcollection-clothing-mongolian-cashmere' %}  
  
  <div id="spectacular-spectacles" class="anchor-placeholder"></div>
  {% include 'subcollection-clothing-spectacular-spectacles' %}
  
  <div id="mulberry-silk" class="anchor-placeholder"></div>
  {% include 'subcollection-clothing-mulberry-silk' %}
  
  <div id="the-to-go-pair" class="anchor-placeholder"></div>
  {% include 'subcollection-clothing-the-to-go-pair' %}  
  
  <div id="the-good-inside" class="anchor-placeholder"></div>
  {% include 'subcollection-clothing-the-good-inside' %}
  
  <div id="work-it-out" class="anchor-placeholder"></div>
  {% include 'subcollection-clothing-work-it-out' %}
  
  <div id="the-jet-set" class="anchor-placeholder"></div>
  {% include 'subcollection-clothing-the-jet-set' %}
  
  <div id="the-modern-groomer" class="anchor-placeholder"></div>
  {% include 'subcollection-bedroom-the-modern-groomer' %}

  <div class="shop-all-button-container">
    <a href="https://thepicksmart.com/collections/clothing-accessories" class="shop-all-button">SHOP ALL</a>
  </div>
  
</div>