<!-- /templates/page.liquid -->
<!-- <h1 class="small--text-center">{{ page.title }}</h1> -->

<div class="rte collection-wrapper">
  {{ page.content }}
  
  {% include 'subcollection-electronics-lights-on' %}
  
  {% include 'subcollection-bedroom-the-curtain-call' %}
  
  {% include 'subcollection-bedroom-heavenly-decor-pillows' %}
  
  {% include 'subcollection-bedroom-the-cozy-layer' %}
  
  {% include 'subcollection-bedroom-the-hotel-like-bedroom' %}
  
  {% include 'subcollection-bedroom-zen-home' %}
  
  {% include 'subcollection-bedroom-the-modern-groomer' %}
  
  <div class="shop-all-button-container">
    <a href="https://thepicksmart.com/collections/bedroom" class="shop-all-button">SHOP ALL</a>
  </div>

</div>
