<div class="collection-wrapper">
  {{ page.content }}
  {% include 'subcollection-kitchen-heart-warming-kitchen' %}
  <div class="shop-all-button-container">
    <a href="https://thepicksmart.com/collections/kitchen" class="shop-all-button">SHOP ALL</a>
  </div>
</div>