<div class="collection-wrapper">
  {{ page.content }}
  {% include 'subcollection-electronics-lights-on' %}
  <div class="shop-all-button-container">
    <a href="https://thepicksmart.com/collections/electronics-acc" class="shop-all-button">SHOP ALL</a>
  </div>
</div>