<!-- /templates/page.liquid -->
<!-- <h1 class="small--text-center">{{ page.title }}</h1> -->

<div class="collection-wrapper">
  {{ page.content }}
  
  {% include 'subcollection-bedroom-walking-on-the-clouds' %}
  
  <div id="lights-on" class="anchor-placeholder"></div>
  {% include 'subcollection-electronics-lights-on' %}
  
  <div id="the-curtain-call" class="anchor-placeholder"></div>
  {% include 'subcollection-bedroom-the-curtain-call' %}
  
  <div id="heavenly-decor-pillows" class="anchor-placeholder"></div>
  {% include 'subcollection-bedroom-heavenly-decor-pillows' %}
  
  <div id="the-cozy-layer" class="anchor-placeholder"></div>
  {% include 'subcollection-bedroom-the-cozy-layer' %}
  
  <div id="the-hotel-like-bedroom" class="anchor-placeholder"></div>
  {% include 'subcollection-bedroom-the-hotel-like-bedroom' %}
  
  <div id="zen-home" class="anchor-placeholder"></div>
  {% include 'subcollection-bedroom-zen-home' %}
    
  <div class="shop-all-button-container">
    <a href="https://thepicksmart.com/collections/bedroom" class="shop-all-button">SHOP ALL</a>
  </div>

</div>
