<div id="our-story-cong">
  <div style="position: relative; margin-bottom: 20px">
    <div class="floating-text-container">
      <div class="floating-text-header">Finest Quality without Premium Brand Pricing</div>
      <div class="floating-text">Reasonable prices</div>
      <div class="floating-text">Essential functions</div>
      <div class="floating-text">Quality certified by premium brands</div>
      <div class="floating-text">Original products directly supplied by makers</div>
    </div>
    <img class="hide-on-mobile" width="100%"src="https://storage.googleapis.com/picksmart-img-au/assets/story-image-1-pc.png">
    <img class="show-on-mobile" width="100%"src="https://storage.googleapis.com/picksmart-img-au/assets/story-image-1-m.png">
  </div>
  <img class="story-img" src="https://storage.googleapis.com/picksmart-img-au/assets/story-image-2.png">
  <div class="story-text">We are a group of lifestyle enthusiasts who don’t believe living a high-quality life requires high prices. Our mission is to utilize our extensive factory resources worldwide to deliver the finest quality products without the expenses of premium pricing.</div>
  <img class="story-img" src="https://storage.googleapis.com/picksmart-img-au/assets/story-image-3.png">
  <div class="story-text">We travel all over the world and only select top 3% of the best factories who are exclusively providing goods for luxury brands. <br/> When you shop with Picksmart, you’re purchasing products that are designed and manufactured in the same factories as big-name brands like Chanel and WMF – simply without having to pay for the popular label.</div>
  <img class="story-img" src="https://storage.googleapis.com/picksmart-img-au/assets/story-image-4.png">
  <div class="story-text">Working directly with our manufacturer resources worldwide, we can say goodbye to premium brand pricing and hello to the same quality!</div>
  <img class="story-img hide-on-mobile" style="margin: 0 auto; margin-bottom: 50px; " src="https://storage.googleapis.com/picksmart-img-au/assets/story-image-5-pc-v2.png">
  <img class="story-img show-on-mobile" style="margin: 0 auto; margin-bottom: 50px; " src="https://storage.googleapis.com/picksmart-img-au/assets/story-image-5-m-v2.png">
  
  <div style="position: relative;">
    <div class="floating-text-container" style="top: 50%;">
      <div class="floating-text-bottom-header">
        <div class="">No brands. No wholesalers.</div>
        <div class="">High-end quality.</div>
        <div class="">Lowest price.</div>
        <div class="">We fight hard to make sure</div>
        <div class="">you have a SMART CHOICE.</div>
      </div>
      <div class="floating-text floating-text-bottom">Enjoy high-quality products at a fraction of the price and see how Picksmart instantly adds quality to your living space!</div>
    </div>
    <img class="hide-on-mobile" width="100%"src="https://storage.googleapis.com/picksmart-img-au/assets/story-image-6-pc.png">
    <img class="show-on-mobile" width="100%"src="https://storage.googleapis.com/picksmart-img-au/assets/story-image-6-m.png">
  </div>
</div>