<!-- /templates/page.liquid -->
<!-- <h1 class="small--text-center">{{ page.title }}</h1> -->

<div class="collection-wrapper">
  {{ page.content }}
  
  {% include 'subcollection-clothing-mongolian-cashmere' %}  
  
  {% include 'subcollection-clothing-spectacular-spectacles' %}
  
  {% include 'subcollection-clothing-mulberry-silk' %}
  
  {% include 'subcollection-clothing-the-to-go-pair' %}  
  
  {% include 'subcollection-clothing-the-good-inside' %}
  
  {% include 'subcollection-clothing-work-it-out' %}
  
  {% include 'subcollection-clothing-the-jet-set' %}
  
  {% include 'subcollection-bedroom-the-modern-groomer' %}

  <div class="shop-all-button-container">
    <a href="https://thepicksmart.com/collections/clothing-accessories" class="shop-all-button">SHOP ALL</a>
  </div>
  
</div>