<div class="collection-wrapper">
  {{ page.content }}
  {% include 'subcollection-bedroom-walking-on-the-clouds' %}
  <div class="shop-all-button-container">
    <a href="https://thepicksmart.com/collections/bedroom" class="shop-all-button">SHOP ALL</a>
  </div>
</div>